/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* Document Settings */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 2rem;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
html::-webkit-scrollbar {
  display: none;
}
textarea,
input,
button,
select {
  font-family: inherit;
  font-size: inherit;
}
/* Title */
h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 3rem 0px;
  text-align: center;
}

/* Navigation Buttons */
.navigation-buttons {
  display: flex;
  justify-content: space-between;
  width: 480px;
  height: 30.4px;
}
.navigation-buttons button {
  width: 150px;
  font-weight: 600;
  background-color: #dedede;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.navigation-buttons button:focus {
  outline: none;
}

/* Create Habit Area */
.create-area {
  display: flex;
  flex-direction: column;
  padding: 0.8rem 1.5rem;
  width: 480px;
  position: relative;
  background-color: white;
}
.create-area h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 8px 0;
}
.create-group {
  margin: 8px 0px;
}
.create-group p {
  font-size: 0.9rem;
  font-weight: 600;
}

.create-title {
  border: none;
  background-color: white;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 5px;
  margin: 4px 4px 0px 4px;
  padding: 3px 6px;
}
.create-title:focus {
  outline: none;
}

.create-period {
  display: flex;
}
.create-period input[type="radio"] {
  display: none;
}
.create-period label {
  color: white;
  color: black;
  font-size: 0.8rem;
  border: 2px solid #dedede;
  border-radius: 5px;
  margin: 4px 4px 0px 4px;
  padding: 3px 6px;
}
.create-period input[type="radio"]:checked + label {
  background-color: #dedede;
  opacity: 0.8;
}

.create-goal {
  display: flex;
  align-items: center;
}
.create-goal input[type="number"] {
  margin: 4px 8px 0px 4px;
  padding: 2px;
  width: 32px;
  border: 2px solid #dedede;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
}
.create-goal input[type="number"]:focus {
  outline: none;
}
.create-goal input[type="number"]::-webkit-outer-spin-button,
.create-goal input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.create-goal p {
  color: black;
  font-size: 0.8rem;
  font-weight: 500;
}

.create-color {
  display: flex;
}
.create-color input[type="radio"] {
  display: none;
}
.create-color label {
  width: 48px;
  height: 22px;
  border: 2px solid white;
  border-radius: 5px;
  margin: 4px 4px 0px 4px;
}
.create-color input[type="radio"]:checked + label {
  opacity: 0.6;
}

.create-area form .add-habit-icon {
  position: absolute;
  right: 24px;
  top: 18px;
  width: 48px;
  height: 48px;
}

.create-area form .clear-habit-icon {
  position: absolute;
  right: 24px;
  top: 76px;
  width: 48px;
  height: 48px;
}
/* Habit Items */
.habit {
  width: 480px;
  margin: 1rem 0px;
}
.habit-tile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.5rem;
  width: 480px;
  border-radius: 0.5rem;
}
.habit-text {
  display: flex;
  flex-direction: column;
}
.habit-text h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
.habit-text p {
  font-size: 0.8rem;
  color: #f7f5f7;
}
.habit-counter {
  display: flex;
  align-items: center;
}
.habit-counter p {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0 0.5rem;
}
.habit-increase-decrease {
  display: flex;
  flex-direction: column;
}
.count-button:hover {
  color: white;
  cursor: pointer;
}

.habit-information {
  padding: 0.8rem 1.5rem;
  width: 480px;
  border-radius: 0.5rem;
  margin: 1rem 0 0 0;
}
.habit-information {
  position: relative;
}
.habit-information textarea {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 0.5rem;
  resize: none;
}
.habit-information textarea:focus {
  outline: none;
}
.habit-information form button {
  position: absolute;
  right: 40px;
  font-size: 0.8rem;
  bottom: 0.4rem;
  padding: 3px 6px;
  cursor: pointer;
}
