/* CreateTitle */
.createTitle {
  border: none;
  background-color: white;
  font-weight: 500;
  font-size: 0.9rem;
  width: 320px;
  border-radius: 5px;
  margin-top: 8px;
  margin-left: 4px;
  padding: 4px 8px;
}
.createTitle:focus {
  outline: none;
}

/* CreateEmoji */
.createEmoji p {
  display: inline-block;
  background-color: white;
  font-weight: 500;
  font-size: 0.9rem;
  width: auto;
  display: relative;
  border-radius: 5px;
  margin-top: 8px;
  margin-left: 4px;
  padding: 4px 8px;
  cursor: pointer;
}

/* CreatePeriod */
.createPeriod {
  display: flex;
  margin-top: 8px;
}
.createPeriod input[type="radio"] {
  display: none;
}
.createPeriod label {
  color: black;
  font-weight: 500;
  font-size: 0.9rem;
  background-color: white;
  border-radius: 5px;
  margin: 0px 4px;
  padding: 4px 8px;
  cursor: pointer;
}
.createPeriod input[type="radio"]:checked + label {
  opacity: 0.8;
}

/* CreateGoal */
.createGoal {
  display: flex;
  align-items: center;
  margin-top: 8px;
}
.createGoal input[type="number"] {
  margin-right: 8px;
  margin-left: 4px;
  padding: 2px;
  width: 32px;
  border: 2px solid #dedede;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
}
.createGoal input[type="number"]:focus {
  outline: none;
}
.createGoal input[type="number"]::-webkit-outer-spin-button,
.createGoal input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.createGoal p {
  color: black;
  font-weight: 500;
  font-size: 0.9rem;
}

/* CreateColor */
.createColor {
  display: flex;
  margin-top: 8px;
}
.createColor input[type="radio"] {
  display: none;
}
.createColor label {
  flex-grow: 1;
  height: 22px;
  border: 2px solid white;
  border-radius: 5px;
  margin: 0px 4px;
  cursor: pointer;
}
.createColor input[type="radio"]:checked + label {
  opacity: 0.6;
}
